

.clearfloat { clear:both; height:0px; line-height:0px; font-size:0px;}
#form-register h2 { 
	margin:10px 20px;
	font-size: 20px;
}
#login-container .form-control-borderless .form-control,
#login-container .form-control-borderless .input-group-addon,
#login-container .form-control-borderless,
#login-container .form-control-borderless:focus {
    border: transparent !important;
}

.modal-header .close{ font-size:34px !important; margin:0 !important;}